services:
  web:
    build: .
    image: podaccounting:local
    ports:
      - "5050:5050"
    volumes:
      - ~/Documents/dbs:/data  # Mount volume for SQLite DB
    environment:
      FLASK_APP: pod_accounting.py
      FLASK_ENV: production
      DATABASE_URL: sqlite:////data/pod_accounting.db  # 4 slashes = absolute path
      EXPENSE_INVOICE_UPLOAD_DIR: /data/expense_invoices
