version: '3.9'

services:
  web:
    image: ${DOCKER_REGISTRY:-ghcr.io}/${DOCKER_IMAGE:-karlneco/podaccounting}:${IMAGE_TAG:-latest}
    pull_policy: always
    ports:
      - "5050:5050"
    volumes:
      - ~/Documents/dbs:/data  # Mount volume for SQLite DB
    environment:
      FLASK_APP: pod_accounting.py
      FLASK_ENV: production
      DATABASE_URL: sqlite:////data/pod_accounting.db  # 4 slashes = absolute path
