{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Orders</h1>
  <div class="mb-3">
    <a href="{{ url_for('orders.create_order') }}" class="btn btn-primary">Add New Order</a>
    <a href="{{ url_for('orders.import_orders') }}" class="btn btn-secondary">Import Orders</a>
  </div>

  {% include "_date_filter.html" %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order #</th>
        <th>Date</th>
        <th>Customer</th>
        <th class="text-end">Subtotal</th>
        <th class="text-end">Shipping</th>
        <th class="text-end">Total</th>
        <th class="text-end">Fees</th>
        <th class="text-end">Total CAD</th>
        <th class="text-center">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for o in orders %}
      <tr>
        <td>
          <a href="{{ url_for('orders.show_order', order_number=o.order_number) }}">
            {{ o.order_number }}
          </a>
        </td>
        <td>{{ o.order_date }}</td>
        <td>{{ o.customer_name }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(o.subtotal) }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(o.shipping) }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(o.order_total) }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(o.fees) }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(o.total_cad) }}</td>
        <td class="text-center">{{ o.delivery_status.capitalize() }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Totals</th>
        <td>{{ total_orders }}</td><td></td>
        <td class="text-end">${{ '{:,.2f}'.format(total_sub) }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(total_shipping) }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(total_value) }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(total_fees) }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(total_cad) }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
