{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Orders</h1>
  <div class="mb-3">
    <a href="{{ url_for('orders.create_order') }}" class="btn btn-primary">Add New Order</a>
    <a href="{{ url_for('orders.import_orders') }}" class="btn btn-secondary">Import Orders</a>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order #</th>
        <th>Date</th>
        <th>Customer</th>
        <th class="text-end">Subtotal</th>
        <th class="text-end">Shipping</th>
        <th class="text-end">Total</th>
        <th class="text-center">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order_number, order_date, customer_name, subtotal, shipping, order_total, delivery_status in stats %}
      <tr>
        <td>
          <a href="{{ url_for('orders.show_order', order_number=order_number) }}">
            {{ order_number }}
          </a>
        </td>
        <td>{{ order_date }}</td>
        <td>{{ customer_name }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(subtotal) }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(shipping) }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(order_total) }}</td>
        <td class="text-center">{{ delivery_status.capitalize() }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Totals</th>
          <td>{{ total_orders }}</td>
          <td/>
        <td class="text-end">${{ '{:,.2f}'.format(total_sub) }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(total_shipping) }}</td>
        <td class="text-end">${{ '{:,.2f}'.format(total_value) }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
